* {
  box-sizing: border-box;
}
#container {
  margin: auto;
  height: 300px;
  width: 300px;
  border: 1px solid;
  padding: 10px;
  border-radius: 5%;
  background-color: rgb(115, 138, 80);
}
#display {
  background-color: rgb(179, 185, 181);
  height: 60px;
  width: 100%;
  border: 1px solid;
  margin: 10px auto;
  border-radius: 5%;
  font-size: 40px;
}

#buttons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  margin: 10px auto;
  grid-gap: 6px;
  justify-content: space-evenly;
}

.button {
  background-color: rgb(179, 185, 181);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 60px;
  font-size: 20px;
}

.clear {
  background-color: red;
  grid-column: 1/5;
  justify-self: end;
}

.operator {
  background-color: rgb(179, 185, 181);
}

.equal {
  background-color: green;
}
